#trending{
    .banner{
        overflow: hidden;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 20%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            transform: skew(-20deg);
            left: -20px;
            transition: all .3s ease;
        }
        &:hover{
            &::before{
                left: 300px;
            }
        }
    }
    .item{
        padding: 10px;
        border: 1px solid #e2e2e2;
        .image-wrapper{
            overflow: hidden;
            position: relative;
            img{
                height: 166px;
                width: 100%;
                object-fit: cover;
            }
            .discount, .isNew{
                position: absolute;
                top: 10px;
                transition: all .3s ease;
                font-size: 13px;
                padding: 3px 12px;
            }
            .isNew{
                background: black;
                color: white;
                left: -70px;
            }
            .discount{
                right: -70px;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
                color: black;
                background-color: white;
            }
            .mainBtn{
                position: absolute;
                bottom: -70px;
                left: 20px;
                right: 20px;
                text-align: center;
                font-size: 14px;
                transition: all .3s ease;
                padding: 7px;
            }
            &:hover{
                .mainBtn{
                    bottom: 10px;
                }
                .isNew{
                    left: 0;
                }
                .discount{
                    right: 0;
                }
            }

        }
        .content{
            a{
                h1{
                    font-size: 18px;
                    color: black;
                    transition: all .3s ease;
                    font-weight: 300;
                }
                &:hover{
                    h1{
                        color: #ead2ac;
                    }
                }
            }
            p{
                font-size: 15px;
                font-weight: bold;
                span{
                    font-size: 14px;
                    font-weight: 300;
                    text-decoration: line-through;
                    color: #666666;
                }
            }
        }
    }
}
@media (max-width: 768px){
    #trending .item .image-wrapper img{
        height: 200px;
    }
    #trending .item .image-wrapper .isNew{
        left: 0;
    }
    #trending .item .image-wrapper .mainBtn{
        bottom: 10px;
    }
    #trending .item .image-wrapper .discount{
        right: 0;
    }
}
@media (max-width:576px){
    #trending .item .image-wrapper img{
        height: 300px;
    }
}
